<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMPLE API</title>
    <link href="../public/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav>
        <h1>
            Diffrent cattegory api you can use for your testing purposes
        </h1>
    </nav>

    <table>
        <tr>
            <th>Index</th>
            <th>Category name</th>
            <th>About</th>
        </tr>
        <!-- first row -->
        <tr>
            <td>
                <label for="">
                    <li>
                        <a href="/city">1.</a>
                    </li>
                </label>
            </td>
            <td>
                <label for="">
                    <li>
                        <a href="/city">City data</a>
                    </li>
                </label>
            </td>
            <td>
                <label for="">
                    <li>
                        it's random 5 to6 city data you can use it for your testing purposes
                    </li>
                </label>
            </td>
        </tr>
   

    </table>


    <footer>
        <h2>
        Connect with me on lindin:-
        <u>
            <i>
            <a href="#">Naitik prajapati
            </a>
        </i>
            </u>

        </h2>
    </footer>
</body>

</html>